link(rel='stylesheet', href='/stylesheets/mystyle.css', type='text/css' )
a(href='/')
  #logo
h1 All ChIP-chip samples
#section1
  b Notes: 
  br
  table.lines
    tr
      td.lines ID
      td.lines CEL_file
      td.lines StrainNumber
      td.lines StrainBackground
      td.lines Date
      td.lines ArrayType
      td.lines Mutations
      td.lines Antibody
      td.lines Researcher
      td.lines Comments
    - each sample in samples
      tr
      td.lines 
        a(href="/input/cc_details/"+sample._id)=sample._id
      td.lines 
        !{sample.cel_file}
      td.lines 
        !{sample.strainnumber}
      td.lines 
        !{sample.strainbackground}
      td.lines 
        !{sample.date}
      td.lines 
        !{sample.arraytype}
      td.lines 
        !{sample.mutations}
      td.lines 
        !{sample.antibody}
      td.lines 
        !{sample.researcher}
      td.lines 
        !{sample.comments}
    