link(rel='stylesheet', href='/stylesheets/mystyle.css', type='text/css' )
a(href='/')
  #logo
h1= title
#project
  H3 Chip-chip sample Information:
  table
    tr 
      td.label: b Researcher :
      td: !{chipchip.researcher}
    tr
      td.top: b CrossLinkingTime : 
      td: !{chipchip.crosslinkingtime}
    tr
      td.top: b Protocol :
      td: !{chipchip.protocol}
    tr
      td.top: b ArrayLotNumber :
      td: !{chipchip.arraylotnumber}
    tr
      td.top: b Antibody :
      td: !{chipchip.antibody}
    tr
      td.top: b ArrayType :
      td: !{chipchip.arraytype}
    tr
      td.top: b Type :
      td: !{chipchip.type}
    tr
      td.top: b AntibodyVolume :
      td: !{chipchip.antibodyvolume}
    tr
      td.top: b PubmedID :
      td: !{chipchip.pubmedid}
    tr
      td.top: b CatalogNumber :
      td: !{chipchip.catalognumber}
    tr
      td.top: b CEL file :
      td: !{chipchip.cel_file}
    tr
      td.top: b StrainNumber :
      td: !{chipchip.strainnumber}
    tr
      td.top: b StrainBackground :
      td: !{chipchip.strainbackground} 
    tr
      td.top: b Comments :
      td: !{chipchip.comments}
    tr
      td.top: b Date:
      td: !{chipchip.date}
   
  br
  input(type="button", value="Edit", onClick="window.location.assign('/input/cc_edit/#{chipchip._id}')")
  input(type="button", value="Cancel", onClick="window.history.back(-1)")
  input(type="button", value="Back to Spreadsheet", onClick="window.location.assign('/input/cc_view_all')")
  