link(rel='stylesheet', href='/stylesheets/mystyle.css', type='text/css' )
h1= proj_name
div.project
    div.proj_name= project.proj_name
    div.col_name= project.col_name
    div.col_email= project.col_email
    div.sample_count= project.sample_count
    div.arrival_date= project.arrival_date
    div.role= project.role
    div.nanodrop1= project.nanodrop1
    div.nanodrop2= project.nanodrop2
    div.nanodrop3= project.nanodrop3
    div.speedvac= project.speedvac
    div.conc_notes= project.conc_notes
    div.illumina_tracking= project.illumina_tracking
    div.chip_run_date= project.chip_run_date
    //- each comment in article.comments
      div.comment
        div.person= comment.person
        div.comment= comment.comment
    //-div
      form( method="post", action="/view/addComment")
          //input( type="hidden", name="_id", value=article._id.toHexString())
        //div
          //span Author :
          //input( type="text", name="person", id="addCommentPerson")
        //div
          //span Comment :
          //textarea( name="comment", rows=5, id="addCommentComment")
        //div#editArticleSubmit
          //input(type="submit", value="Send")