h1= title
#projects
    - each project in projects
      div.project
        div.created_at= project.created_at
        div.proj_name 
            a(href="/view/"+project._id)!= project.proj_name


#links
  h2 Things you can do
  ul
    li
      a(href="/input/project_new")='Create a New Project'
    li
      a(href="/input/sample_new")='Create a New Sample'
    li
      a(href="/input/sample_new")='Edit a sample'
    li
      a(href="/input/project_attach_sample")='Join a sample to a project'
