link(rel='stylesheet', href='/stylesheets/mystyle.css', type='text/css' )
a(href='/')
  #logo
- if (plate.barcode) {
  h1 !{title} - !{plate.barcode}
- } else {
  h1= title
- }
  
form( method="post")
  input(type="hidden", name="plateid", value= plate._id)
  input(type="hidden", name="projectid", value= plate.projectid)
  - var translate = {1:"A",2:"B",3:"C",4:"D",5:"E",6:"F",7:"G",8:"H"};
  #project
    table
      tr  
        td
          |      
        - for (var h = 1; h <=6; h++) {
          td.center
            !{h}
        -}
        td 
          | 
        - for (var h = 7; h <=12; h++) {
          td.center
            !{h}
        -}
        
        
      - for (var i =1; i <= 8; i++) {
        tr
          td
            !{translate[i]}
          - for (var j = 1; j <=6; j++) {
            - var a = i + "-" + j
            - var n = i + "-" + j + "-cell"
            - if (plate[a]=="reserved") {
              td.whitewlines
                a(href="/input/edit_reserved/"+plate._id + "-" + a)="Reserved"
            - } else if (plate[a]) {
              td.bluewlines 
                | !{plate[a]}
            - } else { 
              td.greywlines 
            - } 
          - }
          td
            |  -
          - for (var j = 7; j <=12; j++) {
            - var a = i + "-" + j
            - var n = i + "-" + j + "-cell"
            - if (plate[a]=="reserved") {
              td.whitewlines
                a(href="/input/edit_reserved/"+plate._id + "-" + a)="Reserved"
            - } else if (plate[a]) {
              td.bluewlines 
                | !{plate[a]}
            - } else { 
              td.greywlines 
            - } 
          - }
      - }
    ul
      li
        a(href="/input/plate_spreadsheet/"+plate._id)="See spreadsheet for this plate"
   
  
  #section1
    h3 Section 0 - Barcode
    b Assign a barcode to this plate : 
    input(type="text", name="barcode", value=plate.barcode)
  
  #section1
    h3 Section 1 - Quant DNA: 
    table
      tr
        td.label
          b Operator : 
        td
          input(type="text", name="sec1_operator", value=plate.sec1_operator)
      tr
        td
          b Date :
        td 
          input(type="date", name="sec1_date", value=plate.sec1_date)
  #section1
    h3 Section 2 - Make MSA2/4:
    table
      tr
        td.label
          b Operator :
        td 
          input(type="text", name="sec2_operator", value=plate.sec2_operator)
      tr
        td
          b Date :
        td
          input(type="date", name="sec2_date", value=plate.sec2_date)
      tr 
        td
          b Hyb Oven Start/Stop :
        td 
          input(type="time", name="sec2_oven_start", value=plate.sec2_oven_start)
          input(type="time", name="sec2_oven_stop", value=plate.sec2_oven_stop)
        td 
          b (37C, 20-24h)
      tr
        td 
          b MSA2/4 plate barcode :
        td
          input(type="text", name="sec2_plate_bc", value=plate.sec2_plate_bc)
      tr
        td.top
          b MA1 reagents :
        td
          input(type="text", name="sec2_MA1_1", value=plate.sec2_MA1_1, placeholder="MA1-1 barcode")
          br
          input(type="text", name="sec2_MA1_2", value=plate.sec2_MA1_2, placeholder="MA1-2 barcode")
        td
          input(type="text", name="sec2_MA1_1_lot", value=plate.sec2_MA1_1_lot, placeholder="MA1-1 lot number")
          br
          input(type="text", name="sec2_MA1_2_lot", value=plate.sec2_MA1_2_lot, placeholder="MA1-2 lot number")
      tr
        td.top
          b RMP reagent :
        td
          input(type="text", name="sec2_RMP_1", value=plate.sec2_RMP_1, placeholder="RMP-1 barcode")
          br
          input(type="text", name="sec2_RMP_2", value=plate.sec2_RMP_2, placeholder="RMP-2 barcode")
        td
          input(type="text", name="sec2_RMP_1_lot", value=plate.sec2_RMP_1_lot, placeholder="RMP-1 lot number")
          br
          input(type="text", name="sec2_RMP_2_lot", value=plate.sec2_RMP_2_lot, placeholder="RMP-2 lot number")
      tr
        td.top
          b MSM reagent :
        td
          input(type="text", name="sec2_MSM_1", value=plate.sec2_MSM_1, placeholder="MSM-1 barcode")
          br
          input(type="text", name="sec2_MSM_2", value=plate.sec2_MSM_2, placeholder="MSM-2 barcode")
        td
          input(type="text", name="sec2_MSM_1_lot", value=plate.sec2_MSM_1_lot, placeholder="MSM-1 lot number")
          br
          input(type="text", name="sec2_MSM_2_lot", value=plate.sec2_MSM_2_lot, placeholder="MSM-2 lot number")
      tr
        td
          b H
            sub 2
          b O reagent :
        td
          input(type="text", name="sec2_H20", value=plate.sec2_H20)
        td

          
    input(type="submit", value="Save")
    input(type="button", value="Discard Edits", onClick="window.history.back(-1)")
  #section1
    h3 Section 3 - Fragment MAS2/4:
    table 
      tr
        td.label
          b Operator : 
        td
          input(type="text", name="sec3_operator", value=plate.sec3_operator)
      tr
        td
          b Date :
        td
          input(type="date", name="sec3_date", value=plate.sec3_date)
      tr
        td 
          b Vortex at 1600 rpm : 
        td
          input(type="checkbox", name="sec3_vortex", value=plate.sec3_vortex)
      tr
        td 
          b Heat Block Start/Stop :
        td
          input(type="time", name="sec3_hb_start", value=plate.sec3_hb_start)
          input(type="time", name="sec3_hb_stop", value=plate.sec3_hb_stop)
        td
          b (37C, 1h) 
      tr
        td.top 
          b FMS reagent :
        td
          input(type="text", name="sec3_FMS_1", value=plate.sec3_FMS_1, placeholder="FMS-1 barcode")
          br
          input(type="text", name="sec3_FMS_2", value=plate.sec3_FMS_2, placeholder="FMS-2 barcode")
        td
          input(type="text", name="sec3_FMS_1_lot", value=plate.sec3_FMS_1_lot, placeholder="FMS-1 lot number")
          br
          input(type="text", name="sec3_FMS_2_lot", value=plate.sec3_FMS_2_lot, placeholder="FMS-2 lot number")
    input(type="submit", value="Save")
    input(type="button", value="Discard Edits", onClick="window.history.back(-1)")
    
  #section1
    h3 Section 4 - Precip MSA2/4:
    table
      tr
        td.label
          b Operator : 
        td
          input(type="text", name="sec4_operator", value=plate.sec4_operator)
      tr
        td
          b Date : 
        td
          input(type="date", name="sec4_date", value=plate.sec4_date)
      tr
        td
          b Vortex at 1600 rpm : 
        td
          input(type="checkbox", name="sec4_vortex", value=plate.sec4_vortex)
      tr 
        td
          b Heat Block Start/Stop : 
        td
          input(type="time", name="sec4_hb_start", value=plate.sec4_hb_start)
          input(type="time", name="sec4_hb_stop", value=plate.sec4_hb_stop)
        td
          b (37C, 5m)
      tr 
        td
          b Incubate Start/Stop : 
        td
          input(type="time", name="sec4_in_start", value=plate.sec4_in_start)
          input(type="time", name="sec4_in_stop", value=plate.sec4_in_stop)
        td 
          b (4C, 5m)
      tr 
        td
          b Centrifuge 3000 xg Start/Stop : 
        td
          input(type="time", name="sec4_cen_start", value=plate.sec4_cen_start)
          input(type="time", name="sec4_cen_stop", value=plate.sec4_cen_stop)
        td
          b (4C, 20m)
      tr 
        td
          b Air Dry Start/Stop : 
        td
          input(type="time", name="sec4_dry_start", value=plate.sec4_dry_start)
          input(type="time", name="sec4_dry_stop", value=plate.sec4_dry_stop)
        td
          b (22C, 1h)
      tr
        td
          b 2-propanol Date Opened :
        td
          input(type="date", name="sec4_2pol_open", value=plate.sec4_2pol_open)
      tr
        td.top
          b PM1 Reagent :
        td
          input(type="text", name="sec4_PM1_1", value=plate.sec4_PM1_1, placeholder="PM1-1 barcode")
          br
          input(type="text", name="sec4_PM1_2", value=plate.sec4_PM1_2, placeholder="PM1-2 barcode")
        td
          input(type="text", name="sec4_PM1_1_lot", value=plate.sec4_PM1_1_lot, placeholder="PM1-1 lot number")
          br
          input(type="text", name="sec4_PM1_2_lot", value=plate.sec4_PM1_2_lot, placeholder="PM1-2 lot number")
    input(type="submit", value="Save")
    input(type="button", value="Discard Edits", onClick="window.history.back(-1)")
    
  #section2
    h3 Section 5 - Resuspend MSA2/4:
    table
      tr
        td.label
          b Operator : 
        td
          input(type="text", name="sec5_operator", value=plate.sec5_operator)
        td
      tr
        td
          b Date : 
        td
          input(type="date", name="sec5_date", value=plate.sec5_date)
        td
      tr 
        td
          b Hyb Oven  Start/Stop : 
        td
          input(type="time", name="sec5_ovn_start", value=plate.sec5_ovn_start)
          input(type="time", name="sec5_ovn_stop", value=plate.sec5_ovn_stop)
        td
          b (48C, 1h)
      tr
        td
          b RA1 Reagent :
        td
          input(type="text", name="sec5_RA1", value=plate.sec5_RA1, placeholder="RA1 barcode")
        td
          input(type="text", name="sec5_RA1_lot", value=plate.sec5_RA1_lot, placeholder="RA1 lot number")
    input(type="submit", value="Save")
    input(type="button", value="Discard Edits", onClick="window.history.back(-1)")
    
  #section2
    h3 Section 6 - Hyb multi Beadchip:
    table
      tr
        td.label
          b Operator : 
        td
          input(type="text", name="sec6_operator", value=plate.sec6_operator)
        td
      tr
        td
          b Date :
        td
          input(type="date", name="sec6_date", value=plate.sec6_date)
        td
      tr
        td
          b Vortex at 1800 rpm : 
        td
          input(type="checkbox", name="sec6_vortex", value=plate.sec6_vortex)
        td
      tr 
        td
          b Heat Block - Start/Stop :
        td
          input(type="time", name="sec6_hb_start", value=plate.sec6_hb_start)
          input(type="time", name="sec6_hb_stop", value=plate.sec6_hb_stop)
        td
          b (95C, 20m)  
      tr 
        td
          b Hyb Oven Start/Stop :
        td
          input(type="time", name="sec6_ovn_start", value=plate.sec6_ovn_start)
          input(type="time", name="sec6_ovn_stop", value=plate.sec6_ovn_stop)
        td
          b (48C, 16-24h) 
        
      tr
        td
          b PB2 Reagent :
        td
          input(type="text", name="sec6_PB2", value=plate.sec6_PB2, placeholder="PB2 barcode")
        td
          input(type="text", name="sec6_PB2_lot", value=plate.sec6_PB2_lot, placeholder="PB2 lot number")
    input(type="submit", value="Save")
    input(type="button", value="Discard Edits", onClick="window.history.back(-1)")
  #section2
    h3 Section 7 - Wash Beadchip:
    table
      tr
        td.label
          b Operator : 
        td
          input(type="text", name="sec7_operator", value=plate.sec7_operator)
        td
      tr
        td
          b Date : 
        td
          input(type="date", name="sec7_date", value=plate.sec7_date)
        td
      tr
        td
          b PB1 Reagent :
        td
          input(type="text", name="sec7_PB1", value=plate.sec7_PB1, placeholder="PB1 barcode")
        td
          input(type="text", name="sec7_PB1_lot", value=plate.sec7_PB1_lot, placeholder="PB1 lot number")
    input(type="submit", value="Save")
    input(type="button", value="Discard Edits", onClick="window.history.back(-1)")
  #section2
    h3 Section 8 - XStain BeadChip (Post-Amp):
    table
      tr
        td.label
          b Operator : 
        td
          input(type="text", name="sec8_operator", value=plate.sec8_operator)
        td
      tr
        td
          b Date : 
        td
          input(type="date", name="sec8_date", value=plate.sec8_date)
        td
      tr
        td
          b RA1 Reagent :
        td
          input(type="text", name="sec8_RA1", value=plate.sec8_RA1, placeholder="RA1 barcode")
        td
          input(type="text", name="sec8_RA1_lot", value=plate.sec8_RA1_lot, placeholder="RA1 lot number")
      tr
        td
          b XC3 Reagent :
        td
          input(type="text", name="sec8_XC3", value=plate.sec8_XC3, placeholder="XC3 barcode")
        td
          input(type="text", name="sec8_XC3_lot", value=plate.sec8_XC3_lot, placeholder="XC3 lot number")
      tr
        td
          b XC1 Reagent :
        td
          input(type="text", name="sec8_XC1", value=plate.sec8_XC1, placeholder="XC1 barcode")
        td
          input(type="text", name="sec8_XC1_lot", value=plate.sec8_XC1_lot, placeholder="XC1 lot number")
      tr
        td.top
          b XC2 Reagent :
        td
          input(type="text", name="sec8_XC2_1", value=plate.sec8_XC2_1, placeholder="XC2-1 barcode")
          br
          input(type="text", name="sec8_XC2_2", value=plate.sec8_XC2_2, placeholder="XC2-2 barcode")
        td
          input(type="text", name="sec8_XC2_1_lot", value=plate.sec8_XC2_1_lot, placeholder="XC2-1 lot number")
          br
          input(type="text", name="sec8_XC2_2_lot", value=plate.sec8_XC2_2_lot, placeholder="XC2-2 lot number")
          
      tr
        td.top
          b STM Reagent :
        td
          input(type="text", name="sec8_STM_1", value=plate.sec8_STM_1, placeholder="STM-1 barcode")
          br
          input(type="text", name="sec8_STM_2", value=plate.sec8_STM_2, placeholder="STM-2 barcode")
        td
          input(type="text", name="sec8_STM_1_lot", value=plate.sec8_STM_1_lot, placeholder="STM-1 lot number")
          br
          input(type="text", name="sec8_STM_2_lot", value=plate.sec8_STM_2_lot, placeholder="STM-2 lot number")
      tr
        td.top
          b TEM Reagent :
        td
          input(type="text", name="sec8_TEM_1", value=plate.sec8_TEM_1, placeholder="TEM-1 barcode")
          br
          input(type="text", name="sec8_TEM_2", value=plate.sec8_TEM_2, placeholder="TEM-2 barcode")
        td
          input(type="text", name="sec8_TEM_1_lot", value=plate.sec8_TEM_1_lot, placeholder="TEM-1 lot number")
          br
          input(type="text", name="sec8_TEM_2_lot", value=plate.sec8_TEM_2_lot, placeholder="TEM-2 lot number")
          
      tr
        td.top
          b ATM Reagent :
        td
          input(type="text", name="sec8_ATM_1", value=plate.sec8_ATM_1, placeholder="ATM-1 barcode")
          br
          input(type="text", name="sec8_ATM_2", value=plate.sec8_ATM_2, placeholder="ATM-2 barcode")
        td
          input(type="text", name="sec8_ATM_1_lot", value=plate.sec8_ATM_1_lot, placeholder="ATM-1 lot number")
          br
          input(type="text", name="sec8_ATM_2_lot", value=plate.sec8_ATM_2_lot, placeholder="ATM-2 lot number")
      tr
        td
          b XC4 Reagent :
        td
          input(type="text", name="sec8_XC4", value=plate.sec8_XC4, placeholder="XC4 barcode")
        td
          input(type="text", name="sec8_XC4_lot", value=plate.sec8_XC4_lot, placeholder="XC4 lot number")
      tr
        td
          b PB1 Reagent :
        td
          input(type="text", name="sec8_PB1", value=plate.sec8_PB1, placeholder="PB1 barcode")
        td
          input(type="text", name="sec8_PB1_lot", value=plate.sec8_PB1_lot, placeholder="PB1 lot number")
    input(type="submit", value="Save")
    input(type="button", value="Discard Edits", onClick="window.history.back(-1)")