link(rel='stylesheet', href='/stylesheets/mystyle.css', type='text/css' )
a(href='/')
  #logo
h1= title
form( method="post")
  input(type="hidden", name="plateid", value= plate._id)
  input(type="hidden", name="projectid", value= plate.projectid)
  #section1
    h3 Section 1 - Quant DNA: 
    table
      tr
        td.label
          b Operator : 
        td
          input(type="text", name="sec1_operator", value=plate.sec1_operator, required)
      tr
        td
          b Date :
        td 
          input(type="date", name="sec1_date", value=plate.sec1_date)
  #section1
    h3 Section 2 - Make MSA2/4:
    table
      tr
        td.label
          b Operator :
        td 
          input(type="text", name="sec2_operator", value=plate.sec2_operator)
      tr
        td
          b Date :
        td
          input(type="date", name="sec2_date", value=plate.sec2_date)
      tr 
        td
          b Hyb Oven Start/Stop :
        td 
          input(type="time", name="sec2_oven_start", value=plate.sec2_oven_start)
          input(type="time", name="sec2_oven_stop", value=plate.sec2_oven_stop)
        td 
          b (37C, 20-24h)
      tr
        td 
          b MSA2/4 plate barcode :
        td
          input(type="text", name="sec2_plate_bc", value=plate.sec2_plate_bc)
      tr
        td
          b MA1 reagent :
        td
          input(type="text", name="sec2_MA1_1", value=plate.sec2_MA1_1)
        td
          input(type="text", name="sec2_MA1_2", value=plate.sec2_MA1_2)
      tr
        td
          b RMP reagent :
        td
          input(type="text", name="sec2_RMP_1", value=plate.sec2_RMP_1)
        td
          input(type="text", name="sec2_RMP_2", value=plate.sec2_RMP_2)
      tr
        td
          b MSM reagent :
        td
          input(type="text", name="sec2_MSM_1", value=plate.sec2_MSM_1)
        td
          input(type="text", name="sec2_MSM_2", value=plate.sec2_MSM_2)
    input(type="submit", value="Save")
    input(type="button", value="Discard Edits", onClick="window.history.back(-1)")
  #section1
    h3 Section 3 - Fragment MAS2/4:
    table 
      tr
        td.label
          b Operator : 
        td
          input(type="text", name="sec3_operator", value=plate.sec3_operator)
      tr
        td
          b Date :
        td
          input(type="date", name="sec3_date", value=plate.sec3_date)
      tr
        td 
          b Vortex at 1600 rpm : 
        td
          input(type="checkbox", name="sec3_vortex", value=plate.sec3_vortex)
      tr
        td 
          b Heat Block Start/Stop :
        td
          input(type="time", name="sec3_hb_start", value=plate.sec3_hb_start)
          input(type="time", name="sec3_hb_stop", value=plate.sec3_hb_stop)
        td
          b (37C, 1h) 
      tr
        td 
          b FMS reagent :
        td
          input(type="text", name="sec3_FMS_1", value=plate.sec3_FMS_1)
        td
          input(type="text", name="sec3_FMS_2", value=plate.sec3_FMS_2)
    input(type="submit", value="Save")
    input(type="button", value="Discard Edits", onClick="window.history.back(-1)")
    
  #section1
    h3 Section 4 - Precip MSA2/4:
    table
      tr
        td.label
          b Operator : 
        td
          input(type="text", name="sec4_operator", value=plate.sec4_operator)
      tr
        td
          b Date : 
        td
          input(type="date", name="sec4_date", value=plate.sec4_date)
      tr
        td
          b Vortex at 1600 rpm : 
        td
          input(type="checkbox", name="sec4_vortex", value=plate.sec4_vortex)
      tr 
        td
          b Heat Block Start/Stop : 
        td
          input(type="time", name="sec4_hb_start", value=plate.sec4_hb_start)
          input(type="time", name="sec4_hb_stop", value=plate.sec4_hb_stop)
        td
          b (37C, 5m)
      tr 
        td
          b Incubate Start/Stop : 
        td
          input(type="time", name="sec4_in_start", value=plate.sec4_in_start)
          input(type="time", name="sec4_in_stop", value=plate.sec4_in_stop)
        td 
          b (4C, 5m)
      tr 
        td
          b Centrifuge 3000 xg Start/Stop : 
        td
          input(type="time", name="sec4_cen_start", value=plate.sec4_cen_start)
          input(type="time", name="sec4_cen_stop", value=plate.sec4_cen_stop)
        td
          b (4C, 20m)
      tr 
        td
          b Air Dry Start/Stop : 
        td
          input(type="time", name="sec4_dry_start", value=plate.sec4_dry_start)
          input(type="time", name="sec4_dry_stop", value=plate.sec4_dry_stop)
        td
          b (22C, 1h)
      tr
        td
          b 2-propanol Date Opened :
        td
          input(type="date", name="sec4_2pol_open", value=plate.sec4_2pol_open)
      tr
        td
          b PM1 Reagent :
        td
          input(type="text", name="sec4_PM1_1", value=plate.sec4_PM1_1)
        td
          input(type="text", name="sec4_PM1_2", value=plate.sec4_PM1_2)
    input(type="submit", value="Save")
    input(type="button", value="Discard Edits", onClick="window.history.back(-1)")
    
  #section2
    h3 Section 5 - Resuspend MSA2/4:
    table
      tr
        td.label
          b Operator : 
        td
          input(type="text", name="sec5_operator", value=plate.sec5_operator)
        td
      tr
        td
          b Date : 
        td
          input(type="date", name="sec5_date", value=plate.sec5_date)
        td
      tr 
        td
          b Hyb Oven  Start/Stop : 
        td
          input(type="time", name="sec5_ovn_start", value=plate.sec5_ovn_start)
          input(type="time", name="sec5_ovn_stop", value=plate.sec5_ovn_stop)
        td
          b (48C, 1h)
      tr
        td
          b RA1 Reagent :
        td
          input(type="text", name="sec5_RA1", value=plate.sec5_RA1)
        td
    input(type="submit", value="Save")
    input(type="button", value="Discard Edits", onClick="window.history.back(-1)")
    
  #section2
    h3 Section 6 - Hyb multi Beadchip:
    table
      tr
        td.label
          b Operator : 
        td
          input(type="text", name="sec6_operator", value=plate.sec6_operator)
        td
      tr
        td
          b Date :
        td
          input(type="date", name="sec6_date", value=plate.sec6_date)
        td
      tr
        td
          b Vortex at 1800 rpm : 
        td
          input(type="checkbox", name="sec6_vortex", value=plate.sec6_vortex)
        td
      tr 
        td
          b Heat Block - Start/Stop :
        td
          input(type="time", name="sec6_hb_start", value=plate.sec6_hb_start)
          input(type="time", name="sec6_hb_stop", value=plate.sec6_hb_stop)
        td
          b (95C, 20m)  
      tr 
        td
          b Hyb Oven Start/Stop :
        td
          input(type="time", name="sec6_ovn_start", value=plate.sec6_ovn_start)
          input(type="time", name="sec6_ovn_stop", value=plate.sec6_ovn_stop)
        td
          b (48C, 16-24h) 
        
      tr
        td
          b PB2 Reagent :
        td
          input(type="text", name="sec6_PB2", value=plate.sec6_PB2)
        td
    input(type="submit", value="Save")
    input(type="button", value="Discard Edits", onClick="window.history.back(-1)")
  #section2
    h3 Section 7 - Wash Beadchip:
    table
      tr
        td.label
          b Operator : 
        td
          input(type="text", name="sec7_operator", value=plate.sec7_operator)
        td
      tr
        td
          b Date : 
        td
          input(type="date", name="sec7_date", value=plate.sec7_date)
        td
      tr
        td
          b PB1 Reagent :
        td
          input(type="text", name="sec7_PB1", value=plate.sec7_PB1)
        td
    input(type="submit", value="Save")
    input(type="button", value="Discard Edits", onClick="window.history.back(-1)")
