link(rel='stylesheet', href='/stylesheets/mystyle.css', type='text/css' )
h1= proj_name
#project
  #proj_name
    H3= project.proj_name
  #col_name
    span Collaborator Name: #{project.col_name}
  #col_email
    span Collaborator Email: #{project.col_email} 
  #sample_count
    span Sample Count: #{project.sample_count} 
  #arrival_date
    span Sample Arrival Date: #{project.arrival_date} 
  #role
    span Project Type: Name: #{project.role}
#projectoptions
   a(href="/input/sample_new/"+project._id)='Add a sample to this project'
   br
   a(href="/input/sample_new/"+project._id)='Add a nanodrop report (also creates samples)'
   br
   a(href="/input/barcode_new/"+project._id)='Create a barcode object'
   br
   a(href="/input/payment_new/"+project._id)='Add a payment record'
