head
link(rel='stylesheet', href='/stylesheets/mystyle.css', type='text/css' )
script(type='text/javascript')
    function viewItem(){  
      var e = document.getElementById("things");
      var strUser = e.options[e.selectedIndex].value;
      window.location.href = '/view/sample_edit/' + strUser;
    }
a(href='/')
  #logo
#project
  #proj_name
    H2= project.proj_name
  table
    tr
      td.label
        b Kobor Lab Contact: 
      td #{project.lab_contact}
    tr
      td#col_name
        b Collaborator Name: 
      td #{project.col_name}
    tr
      td#col_email  
        b Collaborator Email: 
      td #{project.col_email} 
    tr
      td#sample_count  
        b Sample Count: 
      td #{project.sample_count} 
    tr
      td#arrival_date  
        b Sample Arrival Date: 
      td #{project.arrival_date} 
    tr
      td#role
        b Project Type: Name: 
      td #{project.role}
  br
  a(href="/input/project_edit/"+project._id)='Edit this project description'
#samplesdetails
  H3 Samples:
  select(id='things', name='things')
    - each sample in samples
      option(value=sample._id)=sample._id
  input#rollButton(type="button", value="Edit", onclick="viewItem()")
  p
  a(href="/input/sample_new/"+project._id)='Add samples to this project'
#transactiondetails
  H3 Transactions:
  table
    - each transaction in transactions
      tr 
        td.trlabel1 
          b #{transaction.type} 
        td.trlabel2 #{transaction.amt } 
        td.trdate #{transaction.date } 
      //#{transaction._id} #{transaction.projectid }
  br
  a(href="/input/payment_new/"+project._id)='Add a payment record'
#nanodropdetails
  H3 NanoDrop Details:
  br
  a(href="/input/nanodrop_new/"+project._id)='Add a nanodrop report (requires samples be added first)'
#platedetails
  H3 Plates:
  - each plate in plates
     p 
       a(href="/input/plate_edit/"+plate._id)= plate._id 
  br
  a(href="/input/plate_new/"+project._id)='Add a plate to this experiment'

  
  