head
link(rel='stylesheet', href='/stylesheets/mystyle.css', type='text/css' )
script(type='text/javascript')
    function viewItem(){  
      var e = document.getElementById("things");
      var strUser = e.options[e.selectedIndex].value;
      window.location.href = '/view/sample_edit/' + strUser;
    }
a(href='/')
  #logo
#project
  #proj_name
    H2= project.proj_name
  table
    tr
      td.label
        b Kobor Lab Contact: 
      td #{project.lab_contact}
    tr
      td#col_name
        b Collaborator Name: 
      td #{project.col_name}
    tr
      td#col_email  
        b Collaborator Email: 
      td 
        a(href="mailto:" + project.col_email)=project.col_email 
    tr
      td#sample_count  
        b Sample Count: 
      td #{project.sample_count} 
    tr
      td#arrival_date  
        b Sample Arrival Date: 
      td #{project.arrival_date} 
    tr
      td#role
        b Project Type: 
      td #{project.role}
  ul
    li
      a(href="/input/project_edit/"+project._id)='Edit this project description'
#samplesdetails
  H3 Samples:
  select(id='things', name='things')
    - each sample in samples
      option(value=sample.sampleid + "-" + sample.sample_num)=sample.sampleid + "-" + sample.sample_num
  input#rollButton(type="button", value="Edit", onclick="viewItem()")
  ul
    li 
      a(href="/input/sample_new/"+project._id)='Add samples to this project'
    li
      a(href="/input/nanodrop_new/"+project._id)='Add a nanodrop report to this project (requires samples be added first)'
    li
      a(href="/view/sample_spreadsheet_edit/"+project._id)='Edit samples in this project'
    li
      a(href="/view/sample_spreadsheet/"+project._id)='Proceed to move samples to plates'
  
#transactiondetails
  H3 Transactions:
  table
    - each transaction in transactions
      tr 
        td.trlabel1 
          b #{transaction.type} 
        td.trlabel2 #{transaction.amt } 
        td.trdate #{transaction.date } 
      //#{transaction._id} #{transaction.projectid }
  ul
    li
      a(href="/input/payment_new/"+project._id)='Add a payment record'
#platedetails
  H3 Plates:
  ul
    - each plate in plates
      li
        - if (plate.barcode) {
          a(href="/input/plate_edit/"+plate._id)= plate.barcode
        - } else { 
          a(href="/input/plate_edit/"+plate._id)= plate._id 
        - }


  
  