link(rel='stylesheet', href='/stylesheets/mystyle.css', type='text/css' )
a(href='/')
  #logo
#project
  #proj_name
    H2= project.proj_name
  #lab_contact
    span 
      b Kobor Lab Contact: 
      | #{project.lab_contact}
  #col_name
    span 
    b Collaborator Name: 
    | #{project.col_name}
  #col_email
    span  
    b Collaborator Email: 
    | #{project.col_email} 
  #sample_count
    span  
    b Sample Count: 
    | #{project.sample_count} 
  #arrival_date
    span  
    b Sample Arrival Date: 
    | #{project.arrival_date} 
  #role
    span  
    b Project Type: Name: 
    | #{project.role}
  br
  a(href="/input/project_edit/"+project._id)='Edit this project description'
#samplesdetails
  H3 Samples:
  br
  a(href="/input/sample_new/"+project._id)='Add a sample to this project'
#transactiondetails
  H3 Transactions:
  - each transaction in transactions
      p #{transaction.type} #{transaction.amt } #{transaction.date } 
      //#{transaction._id} #{transaction.projectid }
  a(href="/input/payment_new/"+project._id)='Add a payment record'
#nanodropdetails
  H3 NanoDrop Details:
  br
  a(href="/input/nanodrop_new/"+project._id)='Add a nanodrop report (also creates samples)'
#platedetails
  H3 Plates:
  br
  a(href="/input/plate_new/"+project._id)='Add a plate to this experiment'

  
  