link(rel='stylesheet', href='/stylesheets/mystyle.css', type='text/css' )

a(href='/')
  #logo
h1 Edit Samples
form( method="post")
  #section1
    Span Assign volume to all samples:
      input(type="text", size="6", id="all_volume") 
      | (µl)
      input(type="button", value="Over-write volumes", onClick="updateVolumes()")
    br
    Span Check proceed for all samples with Total N.A.:
      input(type="button", value="Check Proceed Flag", onClick="checkBoxes()")
    p
      input(type="submit", value="Save Changes")
      input(type="button", value="Discard Edits", onClick="window.history.back(-1)")
    table.lines
      tr
        td.lines SampleID
        td.lines Proceed
        td.lines DNA Extract Date
        td.lines conc
        td.lines Volume (µl)
        td.lines A260
        td.lines A280
        td.lines A260/A280
        td.lines A260/A230
        td.lines Total N.A. (ng)
        td.lines Notes
        td.lines Plates
        td.lines Created (D-M-Y)
      - each sample in samples
        tr
          td.lines 
            b #{sample.sampleid}-#{sample.sample_num}
          td.lines 
            if (sample.proceed_flag == "checked")
              input(type="checkbox", class="proceed", name="#{sample.sampleid}-#{sample.sample_num}-proceed_flag", id="#{sample.sampleid}-#{sample.sample_num}-proceed_flag", checked="checked")
            else
              input(type="checkbox", class="proceed", name="#{sample.sampleid}-#{sample.sample_num}-proceed_flag", id="#{sample.sampleid}-#{sample.sample_num}-proceed_flag")
          td.lines #{sample.dna_extract_date}
            if (sample.dna_extract_date) 
              input(type="date", name="#{sample.sampleid}-#{sample.sample_num}-dna_extract_date", value=sample.dna_extract_date)
            else
              input(type="date", name="#{sample.sampleid}-#{sample.sample_num}-dna_extract_date")
          if (sample.nanodrop)
            - var best_date = sample.nanodrop[0].date
            - var best_time = sample.nanodrop[0].time
            - for n in sample.nanodrop 
              - if (n.date > best_date) 
                 - best_date = n.date
                 - best_time = n.time
              - else if (n.date == best_date)
                - if (n.time > best_time)
                  - best_date = n.date
                  - best_time = n.time
            - each n in sample.nanodrop            
              - if (n.date == best_date  && n.time == best_time)
                 input(type="hidden", name="#{sample.sampleid}-#{sample.sample_num}-date", value = n.date)
                 input(type="hidden", name="#{sample.sampleid}-#{sample.sample_num}-time", value = n.time)
                 td.lines
                   input(type="text", size="5", class="conc", name="#{sample.sampleid}-#{sample.sample_num}-conc", id="#{sample.sampleid}-#{sample.sample_num}-conc", disabled, value=n.conc  )
                   | #{n.units} 
                 td.lines 
                   if (n.vol)
                     input(type="text", size="6", class="volume", name="#{sample.sampleid}-#{sample.sample_num}-vol", id="#{sample.sampleid}-#{sample.sample_num}-vol", value =n.vol, onchange="updateVol(this)")
                   else  
                     input(type="text", size="6", class="volume", name="#{sample.sampleid}-#{sample.sample_num}-vol", id="#{sample.sampleid}-#{sample.sample_num}-vol", onchange="updateVol(this)")
                 td.lines #{n.a260}
                 td.lines #{n.a280}
                 - var a260_280 = n.a260/n.a280
                 td.lines !{a260_280.toFixed(3)}
                 - var a260_230 = n.a260/n.a230
                 td.lines !{a260_230.toFixed(3)}
                 td.lines 
                  if (n.vol)
                    - var total_na = (n.conc*n.vol).toFixed(2) 
                    input(type="text", size="6", class="total_na", name="#{sample.sampleid}-#{sample.sample_num}-totalna", id="#{sample.sampleid}-#{sample.sample_num}-totalna", value =total_na, disabled)
                  else  
                    input(type="text", size="6", class="total_na", name="#{sample.sampleid}-#{sample.sample_num}-totalna", id="#{sample.sampleid}-#{sample.sample_num}-totalna", disabled)
          else
             td.lines
             td.lines
             td.lines
             td.lines
             td.lines
             td.lines
             td.lines
          td.lines
            if (sample.notes)
              input(type="text", size=30, name="#{sample.sampleid}-#{sample.sample_num}-notes", value=sample.notes)
            else
              input(type="text", size=30, name="#{sample.sampleid}-#{sample.sample_num}-notes")
          td.lines
            if (sample.plates)
              - for plate in sample.plates
                ul
                  li
                    a(href="/input/plate_edit/"+plate)=plate
          td.lines #{sample.created_at.getDate()}-#{sample.created_at.getMonth()}-#{sample.created_at.getFullYear()} #{sample.created_at.getHours()}:#{sample.created_at.getMinutes()} 
    input(type="submit", value="Save Changes")
    input(type="button", value="Discard Edits", onClick="window.history.back(-1)")
script(type='text/javascript')
    function updateVolumes(){  
      var e = document.getElementById("all_volume").value;
      var c = document.getElementsByClassName("conc");
      var v = document.getElementsByClassName("volume");
      var t = document.getElementsByClassName("total_na");
      for (var i = 0; i < v.length; i++) {
        if (c[i] != 0) {
          v[i].value = e;
          t[i].value= (c[i].value * v[i].value).toFixed(2);
        }
      }
    }
    function updateVol(obj){  
      var i = obj.id;
      var id = obj.id.substring(0, obj.id.lastIndexOf("-"));
      var v = document.getElementById(obj.id).value;      
      var c = document.getElementById(id+"-conc");
      var t = document.getElementById(id+"-totalna");
      if (c != 0) {
        t.value= (c.value * v).toFixed(2);
      }
    }
    function checkBoxes(){  
      var c = document.getElementsByClassName("proceed");
      for (var i = 0; i < c.length; i++) {
        var id = c[i].name.substring(0, c[i].name.lastIndexOf("-"));
        console.log(id)
        var t = document.getElementById(id+"-totalna");
        var p = document.getElementById(id+"-proceed_flag");
        if (t!= null && t.value != null && t.value != '') {
          p.checked = "checked"
        }
      }
    }
