link(rel='stylesheet', href='/stylesheets/mystyle.css', type='text/css' )
a(href='/')
  #logo
h1= title
form( method="post")
#section1
  table
    - each sample in samples
      tr
        td
          b Sample Name:
        td #{sample.sampleid} - #{sample.sample_num} 
      tr  
        td 
          b Sample Created:
        td
          !{sample.created_at}
      tr
        td
          b Last Updated:
        td
          !{sample.last_updated}
      tr
        td
          b Project ID:
        td
          !{sample.projectid}

      if (sample.nanodrop)
      - each n, i in sample.nanodrop 
        tr 
          td(colspan=2)
            b NanoDrop Record # #{i+1}
            | - !{n.date} - !{n.time}
        tr
          td.indent1
            b Sample Type:
          td
            !{n.na_type}
        tr
          td.indent1
            b Sample Conc.:
          td 
            !{n.conc} !{n.units}
        tr
          td.indent1
            b A230: 
          td
            !{n.a230}
        tr
          td.indent1
            b A260: 
          td
            !{n.a260}
        tr
          td.indent1
            b A280:
          td 
            !{n.a280}
        
        tr
          td.indent1
            b a260/280
          td
            - var a = n.a260/n.a280 
              !{a.toFixed(3)}
        tr
          td.indent1
            b a260/230
          td
            - var a = n.a260/n.a230 
              !{a.toFixed(3)}
        tr
          td.indent1
            b Path:
          td
            !{n.path}
        tr
          td.indent1
            b Nanodrop Version:
          td
            !{n.nanodropver}
        tr
          td.indent1
            b Nanodrop Firmware:
          td
             !{n.firmware}

