extends base

block title
    h1 Epigenetics Database - View/Edit Meta Data

block content
  #padding-div 
    h2 MetaData: Manage meta data and "group-by" fields.
    ul
      li(style="margin-bottom:8px;") This form allows you to set the properties of a project for the browser window.
      li(style="margin-bottom:8px;") "Compound group by" allows you to group by multiple properties simultaneously,
        | for a single project.  For instance, you can subdivide your data into 
        | sets based on fields such as "healthy/disease" and "control/treatment" 
        | at the same time, giving you all four permutations available. 
      li(style="margin-bottom:8px;") Exporting meta data will create a TSV file for the entire project
      li(style="margin-bottom:8px;") The values below are shown for a single sample in the project, however, 
        | selecting "group by" for a field will add it to the "group by" drop down 
        | box in the browser windows for all samples in the dataset.
    input(type="button", value="Manage Compound Group by", onClick="window.location.assign('/dbaccess/compound/?organism=' + organism.value + '&project=' + project.value )")
    input(type="button", value="Export Project Metadata", onClick="export_metadata()")
    br
    &nbsp;
    hr

    form(name="main", id="main", action='/dbaccess/metadata3/', method='post')
      input(type="hidden", id="samples", name="samples", value=samples)
      input(type="hidden", id="collection", name="collection", value=collection)
      input(type="hidden", id="project", name="project", value=project)   
      input(type="hidden", id="organism", name="organism", value=organism)
      input(type="hidden", id="groups", name="groups", value=groups)
      input(type="hidden", id="sampleoid", name="sampleoid", value="None")
      
      | Editing !{collection} sample - !{project} - 
      
      if collection == 'chipseq'
        - var disabledfields = {"_id", "min_height", "number_waves", "map_type", "input_file", "default_database", "file_name", "round_leading_edge", "port", "triangle_median", "server", "fragment_length", "max_pet_length", "haswaves", "output_path", "triangle_min", "sample_id", "hide", "make_wig", "processor_threads"}
        - each s in samples
          - var sam = s.items()
        input(type="button", value="Delete this sample(use with care!)", onClick='deletesample()')
        table(id='tab')
          - each k,v in sam
              tr
                td
                  | !{k}:
                td
                  if k in disabledfields 
                    input(type="text",name=k, value=v, disabled)
                  else
                    input(type="text",name=k, value=v)
            br
      if collection == 'methylation'
        
        if samples
          select(name='sample', id='sample', onChange='populate_methylation_table()')
            - each s,i in samples
              if i == 0
                option(value=s['sampleid'], selected)=s.sampleid
              else
                option(value=s['sampleid'])=s.sampleid
          br
          table(id='tab')
        br
      
      
      
      br
      | Editing Options:
      
      input(type="button", value="Add a new key/value", onClick='addnewtag()')
      input(type='submit', value = 'Save Edits', title="Save Edits", name='Save Edits', class ="bigbutton")
      br
      
      | Sample Options:
      br
      input(type="button", value="Select All Fields for Group", onClick="selectAll()")
      input(type="button", value="De-select All Fields for Group", onClick="selectNone()")
      br

      | Purging Options:
      input(type="button", value="Delete this sample (use with care!)", onClick="window.open(delete_sample(),'_self');")
      input(type="button", value="Delete this project (use with EXTREME care!)", onClick="window.open(delete_project(),'_self');")
      br
      hr
      
      
      

block script    
  script(type='text/javascript')
    window.onload = function() {
      if (collection.value == 'methylation') {
        populate_methylation_table();
      }
    }

    function populate_methylation_table() {
      var container = document.getElementById("tab");
      container.innerHTML = "";
      var e = document.getElementById("sample");
      var sample_num = e.options[e.selectedIndex].index;
      var samp = JSON.parse(samples.value.replace(/'/g, '"'))
      var sam = samp[sample_num]
      var row = container.insertRow(0);
      var rowcount = 1
      var cell = row.insertCell(0);
      cell.appendChild(document.createTextNode("Field"));
      cell = row.insertCell(1);
      cell.appendChild(document.createTextNode("Value"));
      cell = row.insertCell(2);
      cell.appendChild(document.createTextNode("Show"));
      cell = row.insertCell(3);
      cell.appendChild(document.createTextNode("Notes"));

      for (s in sam) {
        if (s === "_id") {
          var n = document.getElementById("sampleoid");
          n.value = sam["_id"];
          continue;
        }
                
        var row = container.insertRow(rowcount);
        var cell1 = row.insertCell(0);
        cell1.appendChild(document.createTextNode(s));
        var cell2 = row.insertCell(1);
        var input = document.createElement("input");
        input.type = "text";
        input.name = s;
        input.value = sam[s];

        cell2.appendChild(input);
        var cell3 = row.insertCell(2);
        var x = document.createElement('input');
        x.type = "checkbox";
        x.name = "checkbox_" + s;
        if (groups.value.indexOf(s) > -1) {
          x.checked = "true";
        }
        cell3.appendChild(x);
        if (s==="sampleid") {
          cell = row.insertCell(3);
          var span = document.createElement('span');
          span.style.fontSize = '11px';
          span.appendChild(document.createTextNode("<-- Modifying sampleid may cause data to be orphaned! "));
          cell.appendChild(span);
        }

        rowcount +=1;
        
     }
    }
    
    
    function addnewtag(){
      var container = document.getElementById("tab");
      var rowcount = container.rows.length;
      var row = container.insertRow(rowcount);

      var cell1 = row.insertCell(0);
      var tag = document.createElement("input");
      tag.type = "text";
      tag.name = "label"  + rowcount;
      cell1.appendChild(tag);
      
      var cell2 = row.insertCell(1);
      var input = document.createElement("input");
      input.type = "text";
      input.name = "value" + rowcount;
      cell2.appendChild(input);
      
      var container = document.getElementById("main");
    }
    
    function export_metadata() {
    
      window.URL = window.URL || window.webkitURL;
      var a = document.createElement('a');
      var n = document.getElementById("project")
      name = n.value;
      var e = document.getElementById("samples");
      var samp = JSON.parse(samples.value.replace(/'/g, '"'))
      var headers = new Array
      for (var h in samp[0]) {
        headers.push(h)
      }
      text = []
      text.push(headers.join("\t"))
      for (var s in samp) {
        line = []
        for (var h in headers) {
          line.push(samp[s][headers[h]])
        }
        text.push(line.join("\t"))
      }
      text = text.join("\n") 
      
      var blob = new Blob([text], {'type':'text\/plain'});
      a.href = window.URL.createObjectURL(blob);
      a.download = name+'_json.txt';
      a.click();
      
    }
    
    function delete_sample() {  
      var base = '/dbaccess/deletesample/';
      
      
      var organisminuse = document.getElementById("organism").value
      var sampleoid = document.getElementById("sampleoid").value;
    
      base += "?organism=" + organisminuse
      base += "&sampleoid=" + sampleoid
      
      return base
    }    


    function delete_project() {  
      var base = '/dbaccess/deleteproject/';
      
      
      var organisminuse = document.getElementById("organism").value
      var proj = document.getElementById("project").value
      base += "?organism=" + organisminuse
      base += "&project=" + proj
      return base
    }    

    
    function selectAll() {
      for(var els = document.getElementsByTagName ('input'), i = els.length; i--;) {
        if(els[i].type=='checkbox') {
          els[i].checked = "true"
        }
      }
    }

    function selectNone() {
      for(var els = document.getElementsByTagName ('input'), i = els.length; i--;) {
        if(els[i].type=='checkbox') {
          els[i].checked = ""
        }
      }
    }
        
    
