html
  head
  link(rel='stylesheet', href='/static/templatestyle.css', type='text/css' )
  a(href='/')
  
body
 

    #header
        h1 Query Human Epigenetics Database
    
    #wrapper
        form(action='/dbaccess/query_form/',method='post')
            div(data-role='fieldcontain')
                fieldset(data-role='database')
                    label(for='database') Organism:
                        select(name='database', id='organism') 
                            option(value="human")="Human"
                            option(value="yeast")="Yeast"
                            option(value="arabidopsis")="Arabidopsis"
                    label(for='collection') Collection:
                        select(name='collection', id='collection') 
                            option(value="methylation")="Methylation"
                            option(value="chipseq")="ChIP-Seq"
                    label(for='chromosome') Chromosome:
                        if chromosome
                            input(id='chromosome',size = '6', type='text',name='chromosome', value = chromosome)
                        else
                            input(id='chromosome',size = '6', type='text',value='',placeholder='1,2,...X,Y',name='chromosome')
                    label(for='start') Start:
                        if start
                            input(id='start',size = '8', type='text',value=start,name='start')
                        else 
                            input(id='start',size = '8', type='text',value='',name='start')
                        
                    label(for='end') End:
                        if end
                            input(id='end', size = '8', type='text',value=end,name='end')
                        else
                            input(id='end', size = '8', type='text',value='',name='end')
            div(data-role='fieldcontain')
                input(type='submit',value='Query!', data-transition='fade', data-theme='c')  
                input(type='button',value = '<<<',name='MoreLeft', onClick="window.open(newURL('MoreLeft'))")  
                input(type='button',value = '<',name='LessLeft', onClick="window.open(newURL('LessLeft'));")
                input(type='button',value = '>',name='LessRight', onClick="window.open(newURL('LessRight'));")
                input(type='button',value = '>>>',name='MoreRight', onClick="window.open(newURL('MoreLeft'));")
        |!{plot}
             

script(type='text/javascript')
    function newURL(action){  
      var base = '/dbaccess/query_form/';
      var e = document.getElementById("organism");
      var organism = e.options[e.selectedIndex].value;
      var e = document.getElementById("collection");
      var collection = e.options[e.selectedIndex].value;
      
      base += "?chromosome=" + chromosome.value
      base += "&start=" + start.value
      base += "&end=" + end.value
      base += "&organism=" + organism
      base += "&collection=" + collection
      base += "&action=" + action
      return base
    }