html
  head
  link(rel='stylesheet', href='/static/templatestyle.css', type='text/css' )
  a(href='/')

  
body
    input(type="hidden", id="width", name="width")
    input(type="hidden", id="height", name="height")
    script(type='text/javascript')
      document.getElementById('width').value = window.innerWidth;
      document.getElementById('height').value = window.innerHeight;
    #header
        h1 Query Human Epigenetics Database
    
    #wrapper
        form(action='/dbaccess/query_form/',method='post')
            div(align='center')
                fieldset
                    label(for='organism') Organism:
                        if organism = 'arabidopsis'
                            select(name='organism', id='organism')
                                option(value="arabidopsis")="Arabidopsis"
                                option(value="human")="Human"
                                option(value="yeast")="Yeast"
                        elif organism = 'yeast'
                            select(name='organism', id='organism')
                                option(value="yeast")="Yeast"
                                option(value="human")="Human"
                                option(value="arabidopsis")="Arabidopsis"
                        else
                            select(name='organism', id='organism')
                                option(value="human")="Human"
                                option(value="arabidopsis")="Arabidopsis"
                                option(value="yeast")="Yeast"
                    label(for='collection') Collection:
                        if collection = 'chipseq'
                            select(name='collection', id='collection') 
                                option(value="chipseq")="ChIP-Seq"
                                option(value="methylation")="Methylation"
                                option(value="methchip")="Both"
                        elif collection = "methylation"
                            select(name='collection', id='collection') 
                                option(value="methylation")="Methylation"
                                option(value="chipseq")="ChIP-Seq"
                                option(value="methchip")="Both"
                        else 
                            select(name='collection', id='collection') 
                                option(value="methchip")="Both"
                                option(value="methylation")="Methylation"
                                option(value="chipseq")="ChIP-Seq"
                    label(for='chromosome') Chromosome:
                        if chromosome
                            input(id='chromosome',size = '6', type='text', name='chromosome', value = chromosome)
                        else
                            input(id='chromosome',size = '6', type='text', value='',placeholder='1,2,...X,Y', name='chromosome')
                    label(for='start') Start:
                        if start
                            input(id='start',size = '8', type='text', value=start,name='start')
                        else 
                            input(id='start',size = '8', type='text', value='',name='start')
                        
                    label(for='end') End:
                        if end
                            input(id='end', size = '8', type='text', value=end, name='end')
                        else
                            input(id='end', size = '8', type='text', value='', name='end')
                    input(type='submit',value='Query!', class ="bigbutton")
            #option_elements
                if organism = 'human'
                  #selection_element
                    label(for='tss') Tss:
                        if tss
                            input(id='tss', size = '8', type='checkbox', name="tss", checked)
                        else
                            input(id='tss', size = '8', type='checkbox', name="tss")
                  #selection_element
                    label(for='cpg') CpG Islands:
                        if cpg
                            input(id='cpg', size = '8', type='checkbox', name="cpg", checked)
                        else
                            input(id='cpg', size = '8', type='checkbox', name="cpg")
                if collection = 'methylation' or collection = "methchip"
                  #selection_element
                    label(for='datapoints') Show data points:
                        if datapoints
                            input(id='datapoints', size = '8', type='checkbox', name="datapoints", checked)
                        else
                            input(id='datapoints', size = '8', type='checkbox', name="datapoints")
                  #selection_element
                    label(for='peaks') Show sample type distribution:
                        if peaks
                            input(id='peaks', size = '8', type='checkbox', name="peaks", checked)
                        else
                            input(id='peaks', size = '8', type='checkbox', name="peaks")
                    
            #zoompan
              #selection_element
                input(type='button',value = '<<<', title="Pan left 90%", name='MoreLeft', onClick="window.open(newURL('MoreLeft'),'_self');", class = "medbutton")
              #selection_element
                input(type='button',value = '<<',title="Pan left 60%", name='LessLeft', onClick="window.open(newURL('LessLeft'),'_self');", class = "medbutton")
              #selection_element
                input(type='button',value = '--', title="Zoom Out x3", name='ZoomOutMore', onClick="window.open(newURL('ZoomOutMore'),'_self');", class = "medbutton")
              #selection_element
                input(type='button',value = '-',title='Zoom Out x1.5', name='ZoomOut', onClick="window.open(newURL('ZoomOut'),'_self');", class = "medbutton")
              #selection_element
                input(type='button',value = '+',title='Zoom In x1.5', name='ZoomIn', onClick="window.open(newURL('ZoomIn'),'_self');", class = "medbutton")
              #selection_element
                input(type='button',value = '++',title='Zoom In x3', name='ZoomInMore', onClick="window.open(newURL('ZoomInMore'),'_self');", class = "medbutton")
              #selection_element
                input(type='button',value = '>>', title="Pan right 60%", name='LessRight', onClick="window.open(newURL('LessRight'),'_self');", class = "medbutton")
              #selection_element
                input(type='button',value = '>>>', title="Pan right 90%", name='MoreRight', onClick="window.open(newURL('MoreRight'),'_self');", class = "medbutton")
        |!{plot}
             

script(type='text/javascript')
    function newURL(action){  
      var base = '/dbaccess/query_form/';
      var e = document.getElementById("organism");
      var organism = e.options[e.selectedIndex].value;
      var e = document.getElementById("collection");
      var collection = e.options[e.selectedIndex].value;
      var e = document.getElementById("tss");
      var tss = e.checked;
      var e = document.getElementById("cpg");
      var cpg = e.checked;
      var e = document.getElementById("datapoints");
      var datapoints = e.checked;
      var e = document.getElementById("peaks");
      var peaks = e.checked;
      
      base += "?chromosome=" + chromosome.value
      base += "&start=" + start.value
      base += "&end=" + end.value
      base += "&organism=" + organism
      base += "&collection=" + collection
      base += "&action=" + action
      base += "&tss=" + tss
      base += "&cpg=" + cpg
      base += "&datapoints=" + datapoints
      base += "&peaks=" + peaks
      base += "&width=" + window.innerWidth
      base += "&height=" + window.innerHeight
      
      
      return base
    }
