html
  head
  link(rel='stylesheet', href='/static/templatestyle.css', type='text/css' )
  a(href='/')
  
body
 

    #header
        h1 Query Human Epigenetics Database
    
    #wrapper
        form(action='/dbaccess/query_form/',method='post')
            div(align='center')
                fieldset
                    label(for='organism') Organism:
                        if organism = 'human'
                            select(name='organism', id='organism')
                                option(value="human")="Human"
                                option(value="yeast")="Yeast"
                                option(value="arabidopsis")="Arabidopsis"
                        elif organism = 'yeast'
                            select(name='organism', id='organism')
                                option(value="yeast")="Yeast"
                                option(value="human")="Human"
                                option(value="arabidopsis")="Arabidopsis"
                        else
                            select(name='organism', id='organism')
                                option(value="arabidopsis")="Arabidopsis"
                                option(value="yeast")="Yeast"
                                option(value="human")="Human"
                    label(for='collection') Collection:
                        if collection = 'chipseq'
                            select(name='collection', id='collection') 
                                option(value="chipseq")="ChIP-Seq"
                                option(value="methylation")="Methylation"
                        else
                            select(name='collection', id='collection') 
                                option(value="methylation")="Methylation"
                                option(value="chipseq")="ChIP-Seq"
                    label(for='chromosome') Chromosome:
                        if chromosome
                            input(id='chromosome',size = '6', type='text', name='chromosome', value = chromosome)
                        else
                            input(id='chromosome',size = '6', type='text', value='',placeholder='1,2,...X,Y', name='chromosome')
                    label(for='start') Start:
                        if start
                            input(id='start',size = '8', type='text', value=start,name='start')
                        else 
                            input(id='start',size = '8', type='text', value='',name='start')
                        
                    label(for='end') End:
                        if end
                            input(id='end', size = '8', type='text', value=end, name='end')
                        else
                            input(id='end', size = '8', type='text', value='', name='end')
            
            div(data-role='fieldcontain', align='center')
                label(for='tss') Tss:
                    if tss
                        input(id='tss', size = '8', type='checkbox', name="tss", value="tss", checked)
                    else
                        input(id='tss', size = '8', type='checkbox', name="tss", value="tss")
                label(for='cpg') CpG Islands:
                    if cpg
                        input(id='cpg', size = '8', type='checkbox', name="cpg", value="cpg", checked)
                    else
                        input(id='cpg', size = '8', type='checkbox', name="cpg", value="cpg")
                    
            div(data-role='fieldcontain', align='center')
                input(type='submit',value='Query!', data-transition='fade', data-theme='c')  
                input(type='button',value = '<<<',name='MoreLeft', onClick="window.open(newURL('MoreLeft'),'_self');")  
                input(type='button',value = '<<',name='LessLeft', onClick="window.open(newURL('LessLeft'),'_self');")
                input(type='button',value = '--',name='ZoomOutMore', onClick="window.open(newURL('ZoomOutMore'),'_self');")
                input(type='button',value = '-',name='ZoomOut', onClick="window.open(newURL('ZoomOut'),'_self');")
                input(type='button',value = '+',name='ZoomIn', onClick="window.open(newURL('ZoomIn'),'_self');")
                input(type='button',value = '++',name='ZoomInMore', onClick="window.open(newURL('ZoomInMore'),'_self');")
                input(type='button',value = '>>',name='LessRight', onClick="window.open(newURL('LessRight'),'_self');")
                input(type='button',value = '>>>',name='MoreRight', onClick="window.open(newURL('MoreRight'),'_self');")
        |!{plot}
             

script(type='text/javascript')
    function newURL(action){  
      var base = '/dbaccess/query_form/';
      var e = document.getElementById("organism");
      var organism = e.options[e.selectedIndex].value;
      var e = document.getElementById("collection");
      var collection = e.options[e.selectedIndex].value;
      
      base += "?chromosome=" + chromosome.value
      base += "&start=" + start.value
      base += "&end=" + end.value
      base += "&organism=" + organism
      base += "&collection=" + collection
      base += "&action=" + action
      return base
    }