extends base

block title
	| Human Epigenetics Database


block content
	article
		header
			h2 Query the database
		block intro
			p Please fill in the query parameters to launch the visualization:

		block form
			form(action='/dbaccess/query/',method='post')
				div(data-role='fieldcontain')
					fieldset(data-role='database')
						label(for='database') Organism:
							select(name='database') 
								option(value="human")="Human"
								option(value="yeast")="Yeast"
								option(value="arabidopsis")="Arabidopsis"
					fieldset(data-role='collection')
						label(for='collection') Collection:
							select(name='collection') 
								option(value="chipseq")="ChIP-Seq"
								option(value="methylation")="Methylation"
					fieldset(data-role='chromosome')
						label(for='chr') Chromosome:
							input(id='chr',type='text',value='',placeholder='1,2,...X,Y',name='chr')
					fieldset(data-role='start')
						label(for='start') Starting position:
							input(id='start',type='text',value='',name='start')
					fieldset(data-role='end')
						label(for='end') Ending position:
							input(id='end',type='text',value='',name='end')
				div(data-role='fieldcontain')
					input(type='submit',value='Query!',data-transition='fade', data-theme='c')  
					
					
					