html
  head
  link(rel='stylesheet', href='/static/templatestyle.css', type='text/css' )
  a(href='/')
  
body
    #header
        h1 Query Human Epigenetics Database
    
    #wrapper
        #content
            form(action='/dbaccess/query_form/',method='post')
                div(data-role='fieldcontain')
                    fieldset(data-role='database')
                        label(for='database') Organism:
                            select(name='database') 
                                option(value="human")="Human"
                                option(value="yeast")="Yeast"
                                option(value="arabidopsis")="Arabidopsis"
                        label(for='collection') Collection:
                            select(name='collection') 
                                option(value="methylation")="Methylation"
                                option(value="chipseq")="ChIP-Seq"
                        label(for='chromosome') Chromosome:
                            input(id='chromosome',size = '6', type='text',value='',placeholder='1,2,...X,Y',name='chromosome')
                        label(for='start') Start:
                            input(id='start',size = '8', type='text',value='',name='start')
                        label(for='end') End:
                            input(id='end', size = '8', type='text',value='',name='end')
                div(data-role='fieldcontain')
                    input(type='submit',value='Query!', data-transition='fade', data-theme='c')  
                    input(type='button',name = '<<',value='<<', data-transition='fade', data-theme='c')  
            |!{plot}
                 
                    